SUPABASE_URL=https://amdleiyhhfdoritcznwh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtZGxlaXloaGZkb3JpdGN6bndoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM3MDk3NywiZXhwIjoyMDk4OTQ2OTc3fQ.IJ3I1vk7AoCy7x8mgNhCLZRI1cuv7TwX01fFTuqWj34   # SERVICE ROLE KEY (sekrè, backend sèlman)
JWT_SECRET=mwenmanger1234diri1233
ADMIN_PASSWORD=yoletta
MIN_TO_UNLOCK=500
MAX_IN_FILE=50000
NAME_PREFIX=D.M.L
PORT=3000
